.img {
    border: 12px solid rgb(195,20,20);
    border-radius: 50%;
    width: 200px;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 10px 18px 0px rgb(48, 47, 47);
}

  
@media screen and (max-width: 650px) {
    .img {
        width: 100px;
        height: 70px;
        margin-top: 30px;
    }
}