.item {
    border: 1.5px solid rgb(210, 20, 20);
    border-radius: 10px;
    margin: 2em 2rem 1.5rem -0.5rem;
    padding: 0rem 0.8rem 0.8rem 0.8rem;
    box-shadow: -2px 10px 10px rgb(100, 100, 100), 2px 10px 10px rgb(100, 100, 100), 0 -1px 10px rgb(100, 100, 100);  
    background-image: linear-gradient(
        to right,
        rgba(200, 20, 20, 0.7),
        white 20%
    );
}

.article {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;    
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.title {
    flex: 1 1 12rem;
    color: rgb(220, 10, 10);
    font-size: 32px;
    margin: 1.5rem 0.5rem 1rem 0.5rem;
}

.desc {
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.dateTime {
    font-weight: bold;
}



