.backLink {
    color: rgb(210, 10, 10);
    font-weight: bold;
}

.article {
    border: 1px dashed rgb(150,150,150);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px red;
    margin: 15px 1px;
    padding: 10px 15px;
}

header {
    padding-bottom: 40px;
}

